<input id="file-upload"
       type="file"
       accept=".txt"
       (change)="fileUpload($event)">
<button class="btn btn-primary" [disabled]="!uploaded" (click)="loopText()">Interpret</button>
<div *ngFor="let round of interpretedRound">{{round}}</div>
<td>
  <div class="row">
    <div *ngFor="let image of imageRow1">
      <div class="column">
        <img src="{{image}}" height="50" width="50"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let image of imageRow2">
      <div class="column">
        <img src="{{image}}" height="50" width="50"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let image of imageRow3">
      <div class="column">
        <img src="{{image}}" height="50" width="50"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let image of imageRow4">
      <div class="column">
        <img src="{{image}}" height="50" width="50"/>
      </div>
    </div>
  </div>
</td>
