<input id="file-upload" type="file" accept=".txt" (change)="fileUpload($event)">
<input type="number" class="form-control" [disabled]="input" [(ngModel)]="roundStart" (input)="loopText()">
<input type="checkbox" [(ngModel)]="input" (click)="timerChecker()">
<input type="number" class="form-control" [(ngModel)]="speed">

<hr>
<div>Player {{playerOneName}} Health : {{playerOneHealth}}</div>
<div>Player {{playerOneName}} Energy : {{playerOneEnergy}}</div>
<div>Player {{playerOneName}} Score : {{playerOneScore}}</div>
<hr>
<div>Player {{playerTwoName}} Health : {{playerTwoHealth}}</div>
<div>Player {{playerTwoName}} Energy : {{playerTwoEnergy}}</div>
<div>Player {{playerTwoName}} Score : {{playerTwoScore}}</div>
<hr>

<div>
  <td>
    <div class="row" style="border-top: 1px solid black">
      <div *ngFor="let image of imageRow1">
        <div class="column">
          <img src="{{image}}" height="35" width="35"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let image of imageRow2">
        <div class="column">
          <img src="{{image}}" height="35" width="35"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let image of imageRow3">
        <div class="column">
          <img src="{{image}}" height="35" width="35"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let image of imageRow4">
        <div class="column">
          <img src="{{image}}" height="35" width="35"/>
        </div>
      </div>
    </div>
  </td>
</div>
