<input id="file-upload" type="file" accept=".txt" (change)="fileUpload($event)">
<input type="number" class="form-control" [(ngModel)]="roundStart">
<button class="btn btn-primary" [disabled]="!uploaded" (click)="loopText()">Interpret</button>

<p>{{endOfMatch}}</p>
<!--<hr>-->
<!--<div>Player {{playerOneName}} Health : {{playerOneHealth}}</div>-->
<!--<div>Player {{playerOneName}} Energy : {{playerOneEnergy}}</div>-->
<!--<div>Player {{playerOneName}} Score : {{playerOneScore}}</div>-->
<!--<hr>-->
<!--<div>Player {{playerTwoName}} Health : {{playerTwoHealth}}</div>-->
<!--<div>Player {{playerTwoName}} Energy : {{playerTwoEnergy}}</div>-->
<!--<div>Player {{playerTwoName}} Score : {{playerTwoScore}}</div>-->
<!--<hr>-->

<!--<div>-->
  <!--<td>-->
    <!--<hr>-->
    <!--<div class="row">-->
      <!--<div *ngFor="let image of imageRow1">-->
        <!--<div class="column">-->
          <!--<img src="{{image}}" height="50" width="50"/>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<div class="row">-->
      <!--<div *ngFor="let image of imageRow2">-->
        <!--<div class="column">-->
          <!--<img src="{{image}}" height="50" width="50"/>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<div class="row">-->
      <!--<div *ngFor="let image of imageRow3">-->
        <!--<div class="column">-->
          <!--<img src="{{image}}" height="50" width="50"/>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<div class="row">-->
      <!--<div *ngFor="let image of imageRow4">-->
        <!--<div class="column">-->
          <!--<img src="{{image}}" height="50" width="50"/>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
  <!--</td>-->
<!--</div>-->
